!
! General settings
!__________________

URxvt*scrollBar: False
URxvt*scrollTtyOutput: False
URxvt*scrollTtyKeypress: True
URxvt*secondaryScroll: True
URxvt*saveLines: 1000
URxvt*geometry:84x24



!
! Fonts
!_______

!URxvt*font: xft:Liberation Mono:pixelsize=11:antialias=false, \
!            [codeset=JISX0208]xft:Kochi Gothic:antialias=false
!URxvt*boldFont: xft:Liberation Mono:pixelsize=11:antialias=false, \
!            [codeset=JISX0208]xft:Kochi Gothic:antialias=false
URxvt*font: xft:MonteCarlo:pixelsize=11:antialias=false, \
            [codeset=JISX0208]xft:Kochi Gothic:antialias=false
URxvt*boldFont: xft:MonteCarlo:pixelsize=11:antialias=false, \
            [codeset=JISX0208]xft:Kochi Gothic:antialias=false

XTerm*font: -windows-montecarlo-medium-r-normal--11-110-72-72-c-60-microsoft-cp1252
XTerm*allowBoldFonts: False



!
! Xft settings
!______________

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb



!
! Colors
!________

*foreground: #ded0b4
*background: #201F1D

! black
!URxvt.color0  : #363126
URxvt.color0  : #332F27
URxvt.color8  : #5C5541

! red
URxvt.color1  : #A73E28
URxvt.color9  : #85311E

! green
URxvt.color2  : #878438
URxvt.color10 : #62712C

! yellow
URxvt.color3  : #C4905E
URxvt.color11 : #C4A63B

! blue
URxvt.color4  : #3D444E
URxvt.color12 : #757A80

! magenta
URxvt.color5  : #533F48
URxvt.color13 : #835C6E

! cyan
URxvt.color6  : #9D534A
URxvt.color14 : #6A3D38

! white
URxvt.color7  : #eddec9
URxvt.color15 : #fafafa

! misc
URxvt.cursorColor : #eddec9
URxvt.highlightColor : #A7402A
