body {
background: url('/image/fade-blue.png') repeat-x scroll center top #110908;
    background-color: #3D444E;
    background-image: url('/image/fade-blue.png');
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    font-family: sans-serif;
}
#navtopright {
display: none;
}
div.boardBanner {
color: #6E2A1B;
}
IMG.title{
/*opacity: 0.3;*/
}
.boardList {
display: none;
}
.postingMode {
display: none;
}
.navLinks:not(.navLinksBot) {
display: none;
}
.topad.center {
visibility:hidden; /* PUB */
}
.abovePostForm {
display: none;
}
hr {
display: none;
}
.ad-plea {
display: none; /* PUB de 4chan */
}
#postForm {
display: none;
}

.postblock {
background-color: #292929;
color: #FAFAFA;
border-style: solid;
border-color: #9B392C;
border-width: 0px 0px 3px 0px;
}

#absbot {
display:none;
}

.middlead.center img {
display: none; /* PUB */
}

#globalMessage {
color: #6E2A1B;
margin: 2%;
margin-top: -150px;
}
a {
color: #21242B;
text-decoration: none;
}


.board{
margin: 2.5% 5% 2.5% 5%;
  margin-top: 2.5%px;
  margin-right-value: 5%;
  margin-bottom: 2.5%;
  margin-left-value: 5%;
  margin-left-ltr-source: physical;
  margin-left-rtl-source: physical;
  margin-right-ltr-source: physical;
  margin-right-rtl-source: physical;
}
.sideArrows {
display: none;
}

.post.op {
display: table; /*Permet de forcer le retour à la ligne après le post d'OP*/
background-color: #FAFAFA;
width: 100%;
border-style: solid;
border-color: #DADADA;
border-width: 1px;
-moz-border-radius: 2px;
border-radius: 2px;
padding: 2px;

    padding-top: 2px;
    padding-right-value: 2px;
    padding-bottom: 2px;
    padding-left-value: 2px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}

.post.reply {
background-color: #FAFAFA;
width: 100%;
border-style: solid !important;
border-color: #DADADA !important;
border-width: 1px !important;
-moz-border-radius: 2px;
border-radius: 2px;
}

.name {
font-weight: normal !important;
}

.postMessage {
    margin: 30px 40px;
        margin-top: 30px;
        margin-right-value: 40px;
        margin-bottom: 30px;
        margin-left-value: 40px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}
.post.reply.preview.inlined {
display: inline-table;
}
.fileText {
    padding: 0px 3px;
        padding-top: 0px;
        padding-right-value: 3px;
        padding-bottom: 0px;
        padding-left-value: 3px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    margin: -4px 0px -2px 20px;
    font-size: 8pt;
    opacity: 0.6;
}
.postInfo.desktop {
    display: block !important;
    margin: 6px 0px 0px 15px;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 6px;
    margin-left: 15px;

}
.postInfo input {
display: none;
}
.reply:target, .reply.highlight {
    background: none repeat scroll 0% 0% #8994B5 !important;
        background-color: #8994B5;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
border-color: #8994B5 !important;
}
.newPostsMarker:not(#quote-preview) {
    box-shadow: 0px 3px #A7341B;
}

.bottomad img {
display: none; /* PUB */
}

#quickReply.extPanel.reply {
background-color: #5C5748 !important;
}
#qrFile {
color: #555555;
}
#qrForm {
background-color: #fafafa;
border-width: 1px 1px 1px 1px;
}
/*Réglages en bas*/
.stylechanger {
display:none;
}
.thread-stats {
display: none;
}
div#boardNavDesktopFoot {
    font-size: 9pt;
    color: #21242B;
    clear: none;
    padding-top: 0px;
    padding-bottom: 0px;
}
div#boardNavDesktopFoot a {
    color: #21242B;
}
.navLinks.navLinksBot.desktop {
left:1%;
bottom: 2%;
font-size: 8pt;
color: transparent;
display: inline;
float:left;
}
.navLinks.navLinksBot.desktop span,.navLinks.navLinksBot.desktop label  {
color: #21242B;
}
.navLinks.navLinksBot.desktop a:visited {
color: #21242B;
}
#navbotright {
right: 1%;
bottom: 1% !important;
font-size: 8pt;
color: transparent;
float: right;
}
.navLinks.navLinksBot.desktop A:hover, #navbotright A:hover {
color: #6E2A1B;
}
.navLinks.navLinksBot.desktop input {
display: none;
}
.bottomCtrl.desktop {
display: none;
}
.bottomad {
margin-top: -60px;
}
